*.gem
*.rbc
.bundle
.config
.yardoc
build/*
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log
build/*
man/build/*
rubygem/man/*
rubygem/build/*
zeusversion/zeusversion.go
.DS_Store
